<div class="app">
  <app-header class="header"></app-header>

  <div class="content">
    <div class="body-container">
      <!-- Left Section: Product Table -->
      <div class="left-section">
        <div class="table-container">
          <app-product-list></app-product-list>
        </div>
      </div>

      <!-- Right Section: Shopping Cart -->
      <div class="right-section">
        <app-shopping-cart></app-shopping-cart>
      </div>
    </div>
  </div>

  <app-footer class="footer"></app-footer>
</div>
