<p-table [value]="products">
  <ng-template pTemplate="header">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Add to Cart</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.name }}</td>
      <td>${{ product.price }}</td>
      <td>
        <p-inputNumber [(ngModel)]="product.quantity" [min]="1" [max]="10"></p-inputNumber>
      </td>
      <td>
        <button pButton label="Add to Cart" (click)="addToCart(product)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
