.product-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-list-title {
  margin: 0;
  padding: 10px 0;
  font-size: 1.5rem;
  text-align: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.category-dropdown {
  margin: 10px auto;
  text-align: center;
  width: 50%; /* Center the dropdown and make it responsive */
}

.table-container {
  margin-top: 15px;
  flex: 1;
}
